<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- icon bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        
        <div class="container-fluid">
            <div class="row d-flex justify-content-center pt-sm-5">
                <!-- blocco di sinistra -->
                <div :class="visible == true ? `assoluto col-3 col-lg-2 d-none d-sm-block ldiv px-0`:`col-3 col-lg-2 d-none d-sm-block ldiv px-0` ">
                    <!-- contiene le informazioni del proprietario -->
                    <div class="lprop d-flex align-items-center justify-content-between px-1">
                        <div class="d-flex align-items-center gap-2">
                            <figure class="d-flex align-items-center mb-0">
                                <img src="./img/avatar_io.jpg" alt="personal-profile-picture">
                            </figure>
                            <!-- nome proprietario -->
                            <span>Sofia</span>
                        </div>
                            <!-- icone del proprietario -->
                            <div class="d-flex gap-2 align-items-center fs-6">
                                <i class="bi bi-circle pointer"></i>
                                <i class="bi bi-chat-left-fill pointer"></i>
                                <i class="bi bi-three-dots-vertical pointer"></i>
                            </div>
                           
                    </div>

                    <!-- info per notifiche -->
                    <div class="lnot px-xl-3 d-flex align-items-center gap-2">
                        <div class="bg-light rounded-5 d-flex align-items-center justify-content-center py-1 px-2 bell">
                            <i class="bi bi-bell-slash-fill" style="color: #8DD9FC;" ></i>
                        </div>
                        <div class="d-flex flex-column infonotifiche "> 
                            <span><strong>Ricevi notifiche di nuovi messaggi</strong></span>
                            <span class="pointer"><u>Attiva notifiche desktop</u></span>
                        </div>
                    </div>




                    <!-- ricerca utenti per nome -->
                    

                        <div class="input-group p-1 ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input type="text" v-model="ricerca" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username">
                          </div>





                    
                    <!-- card degli utenti -->
                    <div class="abc">
                        <div  v-for="(element, index) in contacts" class=" d-flex justify-content-between px-2 carduser" @click="posizione=index,word=null,presente=[], visible=false" :style="presente.includes(index) ? `display:none!important` : `display:flex!important`">
                            <div  class="d-flex gap-2">
                                <!-- avatar -->
                                <figure>
                                    <img :src="contacts[index].avatar" alt="">
                                </figure>


                                <!-- nome e ultimo accesso -->
                                <div class="infouser d-flex flex-column">
                                    <span>{{element.name}}</span>
                                    
                                    <span class="infousermsg" v-if="element.messages.length > 0">
                                        {{ element.messages[element.messages.length - 1].message }}
                                      </span>
                                </div>
                            </div>

                            <!-- ore in alto a destra -->
                            <div class="lore">
                                <span>{{lstorario(index)}}</span>
                            </div>
                        </div>

                    </div>
                </div>





                <!-- blocco di destra -->
                <div class="col-12 col-sm-9 col-lg-8 rdiv px-0 position-relative">
                    <!-- card utente della chat -->
                    <div class="ruser d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-left-short d-sm-none h1" id="return" @click="visible=true,stato=null "></i>
                            <figure class="p-1 mb-0 px-sm-2">
                                <img :src="contacts[posizione].avatar" alt="user-picture">
                            </figure>

                            <!-- nome e accesso -->
                            <div class="d-flex flex-column">
                                <span>{{contacts[posizione].name}}</span>
                                <span>{{ultimoaccesso}}</span>
                            </div>
                        </div>
                        <!-- icone utente chat -->
                        <div class="d-flex gap-sm-3 px-sm-3">
                            <i class="bi bi-search"></i>
                            <i class="bi bi-paperclip"></i>
                            <i class="bi bi-three-dots-vertical"></i>
                        </div>
                    </div>




                    <!-- contenitore con lo spazio per chattare -->
                    <div class="rchat bg-light px-l-5 px-2 pt-4 d-flex flex-column gap-3"   >
                        <div v-for="(element, index) in contacts[posizione].messages" :key="index" >

                            <!-- if else per i messaggi ricevuti o inviati -->
                           <div v-if="element.status==`received`" class="d-flex w-100  position-relative" >
                                <div @click="statoup(index)" class="d-flex  p-2 px-3 rounded pointer" style="background-color: white">
                                    <div class="msgdest p-1 px-2 rounded">{{element.message}}</div>
                                    <span class="d-flex align-items-end">{{orario(index)}}</span>
                                </div>
                                <div :class="stato==index ? `d-flex`:`d-none`" class="flex-column p-3 gap-2 justify-content-center position-absolute ghost top-50 start-0 z-1">
                                     <!-- box a comparsa -->
                                    <span class="pointer">Message info</span>
                                    <span @click="removemsg(index)" class="pointer">Delete message</span>
                                </div>
                            </div>

                            <div v-else="element.status==`sent`" class="d-flex justify-content-end w-100  position-relative">
                                <div @click="statoup(index)" class="d-flex p-2 px-4 rounded gap-2 pointer" style="background-color: #D4F9B8;">

                                    <div class="msgmitt">{{element.message}} </div>
                                    <span class="d-flex align-items-end">{{orario(index)}}</span>
                                </div>
                                <!-- box a comparsa -->
                                <div :class="stato==index ? `d-flex`:`d-none`" class=" flex-column p-3 gap-2 justify-content-center position-absolute ghost top-50 end-0 z-1">
                                    <span class="pointer">Message info</span>
                                    <span @click="removemsg(index)" class="pointer">Delete message</span>
                                </div>
                            </div>
                           
 
                        </div>
                            
                        
                        
                    </div>





                    <!-- spazio per scrivere  -->
                    <div class="rinput py-2 px-3 d-flex gap-4 align-items-center fixed-sm-bottom">
                        <i class="bi bi-emoji-smile mx-3" style="color: #6A7079;"></i>
                        <input @keyup.enter="add" v-model="newmessage" class="form-control" type="text" placeholder="Scrivi un messaggio">
                        <i class="bi bi-mic-fill mx-3" style="color: #6A7079;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
</body>
</html>