body{
    height: 100vh;
    background-image:linear-gradient(to bottom,#009587 0px,#009587 15vh,#D9DAD3 15vh,#D9DAD3 100%);

}

.row{
    height: 90vh;
    
}

i{
    color: #AFAFAF;
}


/* inizio parte di sinistra */

.ldiv, .rdiv{
    background-color: white;
    height: 100%;
}

.lprop, .ruser{
    background-color: #E9E9E9;
}

.lprop{
    height: 58px;
}

figure img{
    border-radius: 999rem 999rem ;
    max-width: 50px;
}


/*card notifiche */
.lnot{
    height: 58px;
    background-color: #8DD9FC;
}

.bell{
    scale: 120%;
}


.infonotifiche{
    font-size: 11px;
}

.pointer{
    cursor: pointer;
   
}



.bi .bi-bell-slash-fill{
    color: red;
}

/* card degli utenti */

.ruser div:first-of-type span:last-child{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.829);
    
}

.abc{
    height: calc(100% - 46px - 58px - 58px);
    overflow-y: scroll
   
}


.infousermsg{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.829);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}



.infouser span:first-child, .ruser div:first-of-type span:first-child{
    font-weight: 600;
}




.carduser{
    cursor: pointer;
}

.carduser:hover{
    background-color: #E8EAEA;
}

.lore{
    font-size: 10px;
}


/* inizio parte di destra */


/* card utente chat */
.ruser div:last-child i, .rinput i{
    font-size: 20px;
    cursor: pointer;
}


/* sezione della chat con input */
.rchat{
    overflow-y: scroll;
    height: calc(100% - 54px - 58px);
    background-image: url(./img/mine.jpg);
    
}

.rinput{
    min-height: 40px;
    background-color: #F3EDE9;
}


/* messaggi input/output */
.msgmitt{
    max-width: 650px;
}


.msgmitt+span{
    font-size: 10px;
}

.msgdest{
    max-width: 650px;
}

.msgdest+span{
    font-size: 10px;
}



.ghost{
    background-color: white;
    min-height: 100px;
    min-width: 150px;
}





