body{
    height: 100vh;
}

.container-fluid .row:first-child{
 min-height: 95vh;
}


/* inizio parte di sinistra */

.ldiv, .rdiv{
    min-height: 90vh;
}


.lprop, .ruser{
    min-height: 60px;
    background-color: red;
}


figure img{
    border-radius: 999rem 999rem ;
    max-width: 50px;
}


/*card notifiche */
.lnot{
    min-height: 70px;
}

.infonotifiche{
    font-size: 11px;
}

u{
    cursor: pointer;
}



/* card degli utenti */

.infouser span:last-child, .ruser div:first-of-type span:last-child{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.829);
    
}


.infouser span:last-child{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
   
}



.infouser span:first-child, .ruser div:first-of-type span:first-child{
    font-weight: 600;
}


.carduser{
    background-color: green;
    cursor: pointer;
}

.lore{
    font-size: 10px;
}


.overflow-y-scroll{
    height: 72vh;
}



/* inizio parte di destra */


/* card utente chat */
.ruser div:last-child i, .rinput i{
    font-size: 20px;
    cursor: pointer;
}


/* sezione della chat con input */
.rchat{
    min-height: calc(100% - 60px - 54px);
}
.rinput{
    min-height: 40px;
    background-color: red;
}


.a{
    width: 100%;
}


/* messaggi input/output */
.msgmitt{
    max-width: 650px;
}


.msgmitt+span{
    font-size: 10px;
}

.msgdest{
    max-width: 650px;
}

.msgdest+span{
    font-size: 10px;
}





